* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  height: 100vh;
}
.Menu {
  color: black;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .Heading {
    margin: 1%;
    font-size: xx-large;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Heading h1 {
    font-weight: 800;
  }
  .Menu {
    position: relative;
  }
  .Box1 {
    position: relative;
    margin: 20px;
    top: 0;
    border: 2px solid black;
    width: auto;

    background: gray;
  }
  .Box1 h3 {
    margin-bottom: 10px;

    position: relative;
    font-weight: bolder;

    top: 0;

    display: block;
    width: 100%;
    text-align: center;
  }
  .Box1 .Content {
    font-size: large;
  }
  .Box2 {
    margin: 20px;
    position: relative;

    top: 0;
    border: 2px solid black;
    width: auto;

    background: gray;
  }
  .Box2 h3 {
    margin-bottom: 10px;
    font-weight: bolder;
    position: relative;
    top: 0;

    width: 100%;
    display: block;

    text-align: center;
  }
  .Box2 .Content {
    font-size: large;
  }
  .Box3 {
    position: relative;

    top: 0;
    margin: 20px;
    border: 2px solid black;
    width: auto;

    background: gray;
  }
  .Box3 h3 {
    margin-bottom: 10px;

    position: relative;
    top: 0;

    font-weight: bolder;
    display: block;
    width: 100%;
    text-align: center;
  }
  .Box3 .Content {
    font-size: large;
  }
}
@media screen and (max-width: 991px) {
  .Heading {
    margin: 1%;
    justify-content: center;
    font-size: xx-large;
    font-weight: 800;

    align-items: center;
    text-align: center;
  }
  .Heading h1 {
    font-weight: 800;
  }
  .Menu {
    position: relative;
    font-weight: bold;
  }
  .Box1 {
    position: relative;
    margin: 20px;
    top: 0;
    border: 2px solid black;
    width: auto;
    font-weight: bold;
    background: gray;
  }
  .Box1 .Content {
    font-size: large;
  }
  .Box1 h3 {
    margin-bottom: 10px;

    position: relative;
    top: 0;

    border: 1px solid black;

    display: block;

    width: 100%;
    text-align: center;
    font-weight: bolder;
  }
  .Box2 {
    margin: 20px;
    position: relative;
    font-weight: bold;
    right: 0;
    top: -8%;
    border: 2px solid black;
    width: auto;

    background: gray;
  }
  .Box2 h3 {
    margin-bottom: 10px;
    border: 1px solid black;

    position: relative;
    top: 0;

    display: block;
    width: 100%;
    text-align: center;
    font-weight: bolder;
  }
  .Box2 .Content {
    font-size: large;
  }
  .Box3 {
    position: relative;

    top: 70%;
    font-weight: bold;
    margin: 20px;
    border: 2px solid black;
    width: auto;

    background: gray;
  }
  .Box3 h3 {
    border: 1px solid black;

    margin-bottom: 10px;

    position: relative;
    top: 0;

    display: block;
    width: 100%;
    text-align: center;
    font-weight: bolder;
  }
  .Box3 .Content {
    font-size: large;
  }
}
